@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background-size: cover;
  background-image: url(bg.png);
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 80px;
  padding: 20px;
}

div {
  display: grid;
  place-items: center;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #25419e;
}
button {
  border: none;
  border-radius: 50px;
  background-color: rgba(224, 255, 254, 0.6);
  margin: 3em;
  padding: 10px;
  width: 500px;
}
